<!-- views/pages/abortion.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <h3 class="alert alert-danger">Etwas ist schief gegangen.</h3>
    <p class="alert alert-info">Wenden Sie sich bitte an den Systemadministrator admin@example.com</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
