<!-- views/pages/confirmation.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <h3 class="alert alert-success">Ihre Karte wurde erfolgreich Beantragt.</h3>
    <p class="alert alert-info">Nach der Überprüfung Ihrer Angaben, wird die Karte und PIN per Post zugesandt.</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
