<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= title %>
  </title>
  <link href="/css/main.css" rel="stylesheet">
  <link href="/images/favicon.png" rel="shortcut icon">
</head>

<body>
  <% include partials/header %>

  <%- body %>

  <hr>

  <% include partials/footer %>

          <!-- Bootstrap core JavaScript
    ================================================== -->
          <script src="/js/lib/jquery-3.1.1.slim.min.js"></script>
          <script src="/js/lib/tether.min.js"></script>
          <script src="/js/lib/bootstrap.min.js"></script>
          <script src="/js/main.js"></script>
</body>

</html>