<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head %>
</head>

<body>

<% include ../../partials/nav %>

<main class="container">
    <%- include('../../partials/readcard.ejs', {person: null}); %>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>

</body>

</html>