<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/nav %>

<main class="container">
    <h4 class="alert alert-danger">404 FEHLER: Seite wurde nicht gefunden.</h4>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>